doctype html
html
  head
    title What is your name
  body
    if !yourName
      form(action="/name", method="post")
        label(for="yourName") Name
        input(type="text", id="yourName", name="yourName")
        label(for="yourSecret") Secret Message
        input(type="password", id="yourSecret", name="yourSecret")
        input(type="submit")
    else
      div Hello #{yourName}!! Your secret message is #{yourSecret}.